<div id="search-results">
  <div class="movie-grid">
    <% @movies.each do |movie| %>
      <div class="movie-card">
        <div class="movie-cover-container">
          <% if movie.cover_image.attached? && movie.cover_image.image? %>
            <% begin %>
              <%= image_tag url_for(movie.cover_image.variant(resize_to_limit: [120, 180])), class: "movie-cover" %>
            <% rescue StandardError %>
              <div class="movie-cover-placeholder">
                <span class="placeholder-text">No Image</span>
              </div>
            <% end %>
          <% else %>
            <div class="movie-cover-placeholder">
              <span class="placeholder-text">No Image</span>
            </div>
          <% end %>
        </div>
        <div class="movie-info">
          <div>
            <h3><%= link_to movie.title, movie_path(movie), class: "movie-title-link" %></h3>
            <p class="release-year">Released: <%= movie.release_year %></p>
            <p class="movie-description"><%= truncate(movie.description, length: 100) %></p>
            <p class="movie-genre">Genre: <%= movie.genre %></p>
            <% if user_signed_in? %>
              <div data-star-rating
                   data-initial-rating="<%= movie.rating || 0 %>"
                   data-resource-type="movies"
                   data-resource-id="<%= movie.id %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pagination-container">
    <% if defined?(@pagy) && @pagy.pages > 1 %>
      <%= raw pagy_nav(@pagy) %>
    <% end %>
  </div>
</div>
