<h1>Movies#create</h1>
<div class="">
  <%= simple_form_for @movie do |f| %>
    <%= f.input :title %>
    <%= f.input :director %>
    <%= f.input :description %>
    <%= f.input :release_year %>
    <%= f.submit %>
  <% end %>
</div>
<%= link_to "Back to List", movies_path %>
