<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

  <%= link_to "Back to Home", root_path, class: "back-link" %>
  <% if user_signed_in? %>
    <%= link_to "Add New", new_movie_path, class: "new-item-link" %>
  <% end %>

<%= form_with url: movies_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "movies...", class: "form-control" %>
  <%= submit_tag "Search", class: "search-btn" %>
<% end %>

  <% @movies.each do |movie| %>
      <% if movie.cover_image.attached? && movie.cover_image.image? %>
        <% begin %>
          <%= link_to movie_path(movie) do %>
            <%= image_tag url_for(movie.cover_image.variant(resize_to_limit: [200, 300])), class: "movie-cover" %>
          <% end %>
        <% rescue StandardError %>
            <span class="placeholder-text">No Image</span>
        <% end %>
      <% else %>
          <span class="placeholder-text">No Image</span>
      <% end %>
        <h3><%= movie.title %></h3>
        <p><%= movie.description %></p>
        <%= link_to "Show this movie", movie_path(movie) %>
        <% if user_signed_in? && current_user == movie.user %>
          <%= link_to "Edit", edit_movie_path(movie) %>
          <%= link_to "Destroy", movie_path(movie), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
  <% end %>

  <% if defined?(@pagy) && @pagy.pages > 1 %>
    <%= pagination_nav(@pagy, :movies_path) %>
  <% end %>
