<p style="color: green"><%= notice %></p>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "background", "movies_show", "data-turbo-track": "reload" %>
<% end %>

<div class="background-video">
  <video autoplay loop muted playsinline id="bg-video">
    <source src="<%= asset_path('movies.mp4') %>" type="video/mp4">
  </video>
</div>

<div class="content">
  <div class="movie-container">
    <div class="card-image">
      <% if @movie.cover_image.attached? && @movie.cover_image.image? %>
        <% begin %>
          <%= image_tag url_for(@movie.cover_image.variant(resize: "400x600>")), class: "movie-cover" %>
        <% rescue ActiveStorage::InvariableError %>
          <div class="movie-cover-placeholder">
            <span>No Image</span>
          </div>
        <% end %>
      <% else %>
        <div class="movie-cover-placeholder">
          <span>No Image</span>
        </div>
      <% end %>
    </div>
    <div class="movie-details">
      <h1><%= @movie.title %></h1>
      <p><strong>Director:</strong> <%= @movie.director %></p>
      <p><strong>Release Year:</strong> <%= @movie.release_year %></p>
      <p><strong>Description:</strong> <%= @movie.description %></p>
      
      <div class="actions">
        <%= link_to "Back to movies", movies_path, class: "btn-back" %>
        <% if user_signed_in? && current_user == @movie.user %>
          <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn-edit" %>
          <%= link_to "Destroy this movie", @movie, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-destroy" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
