<h1>Recipes#edit</h1>
<<div class="">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :title %>
    <%= f.input :ingredients %>
    <%= f.input :instructions %>
    <%= f.submit %>
  <% end %>
</div>
<%= link_to "go back", recipes_path %>
