<p style="color: green"><%= notice %></p>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "background", "recipes", "data-turbo-track": "reload" %>
<% end %>

<div class="background-video">
  <video autoplay loop muted playsinline id="bg-video">
    <source src="<%= asset_path('recipes.mp4') %>" type="video/mp4">
  </video>
</div>

<div class="content">
<h1>Recipes</h1>

<nav>
  <%= link_to "Back to Home", root_path %>
</nav>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "New Recipe", new_recipe_path %></li>
  </ul>
<% end %>

<%= form_with url: recipes_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search recipes...", class: "form-control" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<hr style="margin-top: 1rem; margin-bottom: 1rem;">

<div class="recipe-grid">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-cover-placeholder">
        <span class="placeholder-text">No Image</span>
      </div>
      <div class="recipe-info">
        <h3><%= recipe.title %></h3>
        <p><%= recipe.ingredients %></p>
        <%= link_to "Show this recipe", recipe_path(recipe) %>
        <% if user_signed_in? && current_user == recipe.user %>
          <%= link_to "Edit", edit_recipe_path(recipe) %>
          <%= link_to "Destroy", recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination-container">
  <% if defined?(@pagy) && @pagy.pages > 1 %>
    <%= pagy_nav(@pagy) %>
  <% end %>
</div>

</div>
