<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

  <%= link_to "Back to Home", root_path, class: "back-link" %>
  <% if user_signed_in? %>
    <%= link_to "Add New", new_recipe_path, class: "new-item-link" %>
  <% end %>

<%= form_with url: recipes_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "recipes...", class: "form-control" %>
  <%= submit_tag "Search", class: "search-btn" %>
<% end %>

  <% @recipes.each do |recipe| %>
      <% if recipe.cover_image.attached? && recipe.cover_image.image? %>
        <% begin %>
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag url_for(recipe.cover_image.variant(resize_to_limit: [200, 300])), class: "recipe-cover" %>
          <% end %>
        <% rescue StandardError %>
            <span class="placeholder-text">No Image</span>
        <% end %>
      <% else %>
        <span class="placeholder-text">No Image</span>
      <% end %>
        <h3><%= recipe.title %></h3>
        <p><%= recipe.ingredients %></p>
        <%= link_to "Show this recipe", recipe_path(recipe) %>
        <% if user_signed_in? && current_user == recipe.user %>
          <%= link_to "Edit", edit_recipe_path(recipe) %>
          <%= link_to "Destroy", recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
  <% end %>

  <% if defined?(@pagy) && @pagy.pages > 1 %>
    <%= pagination_nav(@pagy, :recipes_path) %>
  <% end %>
  