<p style="color: green"><%= notice %></p>

      <% if @recipe.cover_image.attached? && @recipe.cover_image.image? %>
        <% begin %>
          <%= image_tag url_for(@recipe.cover_image.variant(resize_to_limit: [400, 600])), class: "recipe-cover" %>
        <% rescue StandardError %>
            <span class="placeholder-text">No Image</span>
        <% end %>
      <% else %>
          <span class="placeholder-text">No Image</span>
      <% end %>

      <h1><%= @recipe.title %></h1>
      <p><strong>Ingredients:</strong></p>
      <p><%= @recipe.ingredients %></p>
      <p><strong>Instructions:</strong></p>
      <p><%= @recipe.instructions %></p>
      
        <%= link_to "Back to recipes", recipes_path %>
        <% if user_signed_in? && current_user == @recipe.user %>
          <%= link_to "Edit", edit_recipe_path(@recipe) %>
          <%= link_to "Destroy", @recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
        