<div class="page-wrapper">
  <div class="movie-form" style="margin: 0 auto;">
    <h1>Forgot your password?</h1>

    <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Send reset instructions", class: "btn-primary" %>
      </div>
    <% end %>

    <div style="margin-top: 1.5rem; font-size: 0.875rem; color: #777;">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
