<div class="alert alert-success" role="alert"><%= notice %></div>
<h1>All Books</h1>

<nav class="top-actions">
  <%= link_to "Back to Home", root_path %>
  <% if user_signed_in? %>
    <%= link_to "Add New", new_book_path %>
  <% end %>
</nav>

<div data-controller="search" data-search-url-value="<%= books_path %>">
  <div class="search-and-form">
    <input
      type="text"
      placeholder="books..."
      class="form-control search-input"
      data-search-target="input"
      data-action="input->search#search"
      value="<%= params[:query] %>">
  </div>

  <hr style="margin-top: 1rem; margin-bottom: 1rem;">

  <div data-search-target="results">
    <%= render "books_list" %>
  </div>
</div>
