<p style="color: green"><%= notice %></p>

      <% if @book.cover_image.attached? && @book.cover_image.image? %>
        <% begin %>
          <%= image_tag url_for(@book.cover_image.variant(resize_to_limit: [400, 600])), class: "book-cover" %>
        <% rescue StandardError %>
            <span class="placeholder-text">No Image</span>
        <% end %>
      <% else %>
          <span class="placeholder-text">No Image</span>
      <% end %>
    
      <h1><%= @book.title %></h1>
      <p><strong>Author:</strong></p>
      <p><%= @book.author %></p>
      <p><strong>Genre:</strong></p>
      <p><%= @book.genre %></p>
      
        <%= link_to "Back to books", books_path %>
        <% if user_signed_in? && current_user == @book.user %>
          <%= link_to "Edit", edit_book_path(@book) %>
          <%= link_to "Destroy", @book, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>

