<!DOCTYPE html>
<html>
  <head>
    <title>Mytaste</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
  <nav class="navbar">
  <div class="navbar-container">
    <a href="<%= root_path %>" class="navbar-brand">MyTaste</a>
    <ul class="navbar-menu">
      <li><a href="<%= movies_path %>" class="navbar-item">Movies</a></li>
      <li><a href="<%= books_path %>" class="navbar-item">Books</a></li>
      <li><a href="<%= recipes_path %>" class="navbar-item">Recipes</a></li>
    </ul>
  </div>
</nav>
</html>
