<!DOCTYPE html>
<html>
  <head>
    <title>Mytaste</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <a href="<%= root_path %>" class="navbar-brand">MyTaste</a>
        <ul class="navbar-menu">
          <li><a href="<%= movies_path %>" class="navbar-item">Movies</a></li>
          <li><a href="<%= books_path %>" class="navbar-item">Books</a></li>
          <li><a href="<%= recipes_path %>" class="navbar-item">Recipes</a></li>

          <% if user_signed_in? %>
            <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item" %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %></li>
            <li><%= link_to "Log in", new_user_session_path, class: "navbar-item" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
